{
  "class": "AS3",
  "action": "deploy",
  "persist": false,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.0.0",
    "id": "123abc",
    "label": "Sample 2",
    "remark": "HTTPS with predictive-node pool",
    "{{ tenant_name }}": {
      "class": "Tenant",
      "A1": {
        "class": "Application",
        "service": {
          "class": "Service_HTTPS",
          "virtualAddresses": [
            "{{ private_ip }}"
          ],
          "pool": "web_pool",
          "serverTLS": "clientssl"
        },
        "web_pool": {
          "class": "Pool",
          "loadBalancingMode": "round-robin",
          "monitors": [
            "http"
          ],
          "members": [{
            "servicePort": 80,
            "serverAddresses": [
              {% set comma = joiner(",") %}
              {% for mem in pool_members %}
                {{comma()}} "{{  hostvars[mem]['ansible_host']  }}"
              {% endfor %}
            ]
          }]
        }
      }
    }
  }
}